.cards {
  &__container {
    margin: 0 60px;
  }
  &__counter {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    span {
      font-weight: 600;
    }
  }
  &__list {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 38px;
  }
}
