@import "../../styles/colors/colors.scss";

.input-container {
  & > * {
    display: block;
  }
  .label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-corral;
    margin-bottom: 13px;
  }
  .input {
    opacity: 0.8;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
    padding: 18px;
    outline: none;
    border: 0;
    background: rgba(50, 50, 50, 0.948044);
    width: 100%;
    &::-webkit-calendar-picker-indicator {
      color: transparent;
      opacity: 1;
      background-image: url("../../assets/svg/calendar.svg");
      background-size: contain;
    }
  }

  .error-message {
    padding-top: 4px;
    color: $color-corral;
  }
}
