.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  &__inputs {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    .right {
      width: 70%;
      & > * {
        height: 120px;
      }
      & > *:not(:first-of-type) {
        margin-top: 30px;
      }
    }
    .left {
      width: 30%;
      & > *:not(:first-of-type) {
        margin-top: 30px;
      }
    }
  }
}

.buttons {
  display: flex;
  align-self: flex-end;
  flex-direction: row-reverse;
  column-gap: 13px;

  .submit-form__button {
    background: #f65261;
    border-radius: 4px;
    padding: 16px 48px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  .reset-form__button {
    border: 1.5px solid #f65261;
    border-radius: 4px;
    background: #232323;
    padding: 16px 48px;
    font-size: 20px;
    line-height: 24px;
    color: #f65261;
  }
}
