@import "../../../styles/colors/colors.scss";

.option {
  position: relative;
  &-checkbox {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &-label {
    width: 100%;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  &-checkbox:checked + &-label {
    color: $color-corral;
  }
}
