.films-category {
  margin-top: 20px;

  &__films {
    border-bottom: 2px solid #424242;
    display: flex;

    .film {
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;

      &.active {
        border-bottom: 2px solid #f65261;
      }
    }

    .film + .film {
      margin-left: 30px;
    }
  }
}
