@import "../../styles/colors/colors.scss";

.header {
  position: relative;
  background: $color-black;
  min-height: 396px;
  height: 100%;
  background: url("../../assets/images/Bitmap.png") no-repeat;
  background-position: center;
  &__container {
    padding-top: 20px;
    position: relative;
    z-index: 2;
    margin: 0 60px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;

    .add-movie__button {
      background: rgba(96, 96, 96, 0.68);
      padding: 11px 18px;
      color: $color-corral;
    }
  }
}
