.header {
  position: relative;
  height: 396px;
  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    filter: blur(8.15485px);
    background: url("../../assets/images/Bitmap.png") #424242 no-repeat;
  }
  &__container {
    padding-top: 20px;
    position: relative;
    z-index: 2;
    margin: 0 60px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;

    .add-movie__button {
      background: rgba(96, 96, 96, 0.68);
      padding: 11px 18px;
      color: #f65261;
    }
  }
}
